# Blacklist all
/**

# Whitelist allowed
!/.gitignore
!/Limtaz-theme.zip
!/README.md
!/requirements.txt

!/.github/
!/.github/workflows/
!/.github/workflows/build-and-publish.yml

!/data/
!/data/artists.yml
!/data/football.yml
!/data/general.yml
!/data/sponsors.yml
!/data/timetable.yml

!/helpers/
!/helpers/jpg_opt.sh
!/helpers/melthon_watch.sh

!/middleware/
!/middleware/timetable.py

!/static/
!/static/.nojekyll
!/static/CNAME
!/static/favicon.ico

!/static/assets/
!/static/assets/**

!/templates/
!/templates/index.mako
!/templates/voetbal.mako