/* (1366x768) WXGA Display */

@media screen and (min-width: 1366.98px) and (max-width: 1920px) {}



/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1197.98px) {
    .header-area {
        padding: 10px 0px;
    }
    
    .mainmenu ul li {
        padding: 15px 0px 15px 35px;
    }
    
    #slider-static h2 {
        line-height: 60px;
        font-size: 60px;
    }
    
    #slider-static h2 span:before {
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 100px solid #f90048;
    }
    
    #slider-static p {
        font-size: 20px;
        margin-bottom: 25px;
        line-height: 30px;
        padding-right: 170px;
    }
    
    .about-wrap h2 {
        font-size: 40px;
    }
    
    .about-item p {
        font-size: 15px;
    }
    
    .section-title h2 {
        font-size: 45px;
        line-height: 35px;
    }
    
    .schedule-wrap tr td {
        line-height: 1.2em
    }
    
    .schedule-wrap tr td p {
        font-size: 15px;
    }
    
    .content-items {
        padding-left: 45px;
    }
    
    .content-img {
        width: 30px;
    }
    
    .content-items h4 {
        font-size: 12px;
    }
    
    .content-items h4 {
        font-size: 12px;
    }
    
    .content-area {
        padding: 100px 0px 70px;
    }
}




/* Normal desktop :991px. */

@media (min-width: 768px) and (max-width: 991.98px) {
    .header-area {
        padding: 10px 0px;
    }
    
    #slider-static h2 {
        line-height: 55px;
        font-size: 55px;
    }
    
    #slider-static h2 span:before {
        border-left: 65px solid transparent;
        border-right: 65px solid transparent;
        border-top: 100px solid #f90048;
    }
    
    .section-title h2 {
        font-size: 40px;
        line-height: 35px;
    }
    
    .schedule-wrap tr td {
        padding: 0px 10px;
    }
    
    .content-area {
        padding: 100px 0px 70px;
    }
    
    #map {
        height: 400px;
    }
}




/*mobile :320px. */

@media (max-width: 767.98px) {
    .header-area {
        padding: 10px 0px;
    }
    
    .section-title h2 {
        font-size: 35px;
        line-height: 35px
    }
    
    .section-title p {
        font-size: 15px;
    }
    
    .schedule-wrap tr td {
        padding: 0px 10px;
    }
    
    .about-wrap h2 {
        font-size: 34px;
        line-height: 30px;
    }
    
    p {
        font-size: 14px;
    }
    
    body {
        font-size: 14px;
    }
    
    .slider-area #slider-static {
        padding-top: 0px;
    }
    
    .slider-area #slider-static p {
        padding: 0px 0;
    }
    
    .slider-area #slider-static span.cdown span {
        font-size: 30px;
        line-height: 35px;
    }
    
    .slider-area #slider-static span.cdown p {
        font-size: 14px;
    }
    
    #slider-static h2 {
        line-height: 36px;
        font-size: 33px;
    }
    
    #slider-static h2 span:before {
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 85px solid #f90048;
    }
    
    #slider-static p {
        font-size: 19px;
        line-height: 30px;
        padding: 0;
    }
    
    #slider-static ul li a {
        height: 50px;
        line-height: 50px;
        width: 135px;
    }
    
    #slider-static ul li {
        margin-right: 10px;
    }
    
    .about-item span {
        margin-bottom: 30px;
    }
    
    .content-area {
        padding: 100px 0px 70px;
    }
    
    .copyright {
        text-align: center;
        margin-bottom: 10px;
    }
    
    ul.social-icon.justify-content-end.d-flex {
        justify-content: center !important;
    }
    
    .scrolldown {
        left: 5px;
    }
    
    .schedule-menu {
        margin-bottom: 35px;
    }
    
    .schedule-wrap {
        overflow-x: scroll;
    }
    
    .artist-content {
	    opacity: 1;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .artist-content span {
        display: none;
    }
}

@media (max-height: 576px) {
   #slider-static {
    	top: 120px;
	}
}

@media (max-height: 350px), (max-width: 350px) {
   #clock {
    	display: none;
	}
}


/* small mobile :480px. */

@media (min-width: 480px) and (max-width: 575.98px) {
	.artist-wrap img {
        width: 100%;
    }
    .container {
        width: 450px;
    }
}