.carousel-item img {
  object-fit: cover;
}

.carousel-inner {
  background: rgba(0, 0, 0, 0.6);
}

div.carousel-caption {
  /* Based on https://stackoverflow.com/a/44464238 */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.carousel-caption h2 {
  line-height: 90px;
  font-size: 90px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
}

.carousel-caption p {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 40px;
  line-height: 34px;
  padding-right: 100px;
}

.carousel-caption p {
  padding: 0px 100px;
}

.carousel-caption ul {
  margin-bottom: 70px;
}

.carousel-caption p.carousel-clock-legend {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
}

.carousel-caption p.carousel-clock-value {
  font-size: 80px;
  font-weight: 700;
  color: #fff;
}

.tf-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.tf-section h2 {
  font-size: 50px;
  line-height: 40px;
  padding-bottom: 25px;
  position: relative;
  font-weight: 700;
  color: #659975;
  margin-bottom: 30px;
}

.tf-section h2::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 55px;
  height: 5px;
  background: #659975;
  content: "";
  border-radius: 5px;
}

.tf-section-bluegrey {
  background-color: #f1f8fc;
}

#tf-about p {
  color: #9599a2;
}

#tf-about #collapseAboutButton {
  color: black;
  text-decoration: none;
}

#tf-about #collapseAboutButton:hover {
  color: #9599a2;
}

#tf-about #collapseAboutButton[aria-expanded="false"] .text-expanded {
  display: none;
}

#tf-about #collapseAboutButton[aria-expanded="true"] .text-collapsed {
  display: none;
}
