.timetable-header {
  background: #659975;
  color: white;
  text-align: center;
}

.timetable-slot {
  font-weight: bold;
  text-align: center;
}

.timetable-slot::before {
  content: " ";
  display: block;
  position: absolute;
  width: 100vw;
  height: 30px;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid black;
}
