<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="referrer" content="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha3/css/bootstrap.min.css"
      integrity="sha512-iGjGmwIm1UHNaSuwiNFfB3+HpzT/YLJMiYPKzlQEVpT6FWi5rfpbyrBuTPseScOCWBkRtsrRIbrTzJpQ02IaLA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.4/font/bootstrap-icons.min.css"
      integrity="sha512-yU7+yXTc4VUanLSjkZq+buQN3afNA4j2ap/mxvdr440P5aW9np9vIr2JMZ2E5DuYeC9bAoH9CuCR7SJlXAa4pg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="/assets/css/style.css" rel="stylesheet" />
    <title>Tuinfeest Beerse</title>
    {{ partial "favicon.html" . }}
    <!-- Extra head content -->
    {{block "head_end" .}}{{end}}
  </head>
  <body>
    {{block "main" .}}{{ .Content }}{{end}}

    <!-- Footer -->
    {{ partial "footer.html" . }}

    <script>
      // Based on https://stackoverflow.com/a/75065536
      // Set theme to the user's preferred color scheme
      function updateTheme() {
        const colorMode = window.matchMedia("(prefers-color-scheme: dark)")
          .matches
          ? "dark"
          : "light";
        document.querySelector("html").setAttribute("data-bs-theme", colorMode);
      }

      // Set theme on load
      updateTheme();

      // Update theme when the preferred scheme changes
      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", updateTheme);
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0-alpha3/js/bootstrap.bundle.min.js"
      integrity="sha512-vIAkTd3Ary9rwf0lrb9kIipyIkavKpYGnyopBXs6SiLfNSzAvCNvvQvKwBV5Xlag4O8oZpZ5U5n4bHoErGQxjw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    {{ partial "goatcounter.html" . }}

    <!-- Extra body content -->
    {{block "body_end" .}}{{end}}
  </body>
</html>
