/* (1366x768) WXGA Display */

@media screen and (min-width: 1366.98px) and (max-width: 1920px) {}




/* Normal desktop :992px. */

@media (min-width: 992px) and (max-width: 1197.98px) {
    .header-area {
        padding: 20px 0px;
    }
    .mainmenu ul li {
        padding: 15px 0px 15px 35px;
    }
    .slider-content h2 {
        line-height: 60px;
        font-size: 60px;
    }
    .slider-content h2 span:before {
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 100px solid #f90048;
    }
    .slider-content p {
        font-size: 20px;
        margin-bottom: 25px;
        line-height: 30px;
        padding-right: 170px;
    }
    .slider-content {
        padding-top: 100px;
    }
    .about-wrap h2 {
        font-size: 40px;
    }
    .about-item p {
        font-size: 15px;
    }
    .section-title h2 {
        font-size: 45px;
        line-height: 35px;
    }
    .schedule-wrap tr td {
        line-height: 1.2em
    }
    .schedule-wrap tr td p {
        font-size: 15px;
    }
    .content-items {
        padding-left: 45px;
    }
    .content-img {
        width: 30px;
    }
    .content-items h4 {
        font-size: 12px;
    }
    .content-items h4 {
        font-size: 12px;
    }
    .content-area {
        padding: 100px 0px 70px;
    }
    .header-area2 .mainmenu ul li {
        padding: 15px 0px 15px 22px;
    }
    .header-area2 .mainmenu ul li a:before {
        width: 15px;
    }
    .about-wrap2 h2 {
        font-size: 45px;
        line-height: 45px;
    }
    .tag-wrap ul li a {
        padding: 5px 16px;
    }
}




/* Normal desktop :991px. */

@media (min-width: 768px) and (max-width: 991.98px) {
    .header-area {
        padding: 15px 0px;
    }
    .slider-items {
        height: 650px;
    }
    .slider-content h2 {
        line-height: 55px;
        font-size: 55px;
    }
    .slider-content {
        padding-top: 85px;
    }
    .slider-content h2 span:before {
        border-left: 65px solid transparent;
        border-right: 65px solid transparent;
        border-top: 100px solid #f90048;
    }
    .section-title h2 {
        font-size: 40px;
        line-height: 35px;
    }
    .schedule-wrap tr td {
        padding: 0px 10px;
    }
    .content-area {
        padding: 100px 0px 70px;
    }
    .newsletter-content h2 {
        margin-bottom: 30px;
    }
    #googleMap {
        height: 400px;
    }
    .breadcumb-wrap {
        padding-top: 90px;
    }
    .about-area2 {
        padding: 120px 0px;
    }
    .about-img2 {
        margin-bottom: 50px;
        text-align: center;
    }
    .sidebar-wrap {
        margin-top: 50px;
    }
}




/*mobile :320px. */

@media (max-width: 767.98px) {
    .header-area {
        padding: 15px 0px;
    }
    .slider-items {
        height: 650px;
    }
    .section-title h2 {
        font-size: 35px;
        line-height: 35px
    }
    .section-title p {
        font-size: 15px;
    }
    .schedule-wrap tr td {
        padding: 0px 10px;
    }
    .about-wrap h2 {
        font-size: 34px;
        line-height: 30px;
    }
    p {
        font-size: 14px;
    }
    body {
        font-size: 14px;
    }
    .logo {
        text-align: center;
        margin-bottom: 15px;
    }
    .slider-content h2 {
        line-height: 36px;
        font-size: 33px;
    }
    .slider-content h2 span:before {
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 85px solid #f90048;
    }
    .slider-content p {
        font-size: 19px;
        line-height: 30px;
        padding: 0;
    }
    .slider-content ul li a {
        height: 50px;
        line-height: 50px;
        width: 135px;
    }
    .slider-content ul li {
        margin-right: 10px;
    }
    .about-item span {
        margin-bottom: 30px;
    }
    .content-area {
        padding: 100px 0px 70px;
    }
    .newsletter-content h2 {
        margin-bottom: 25px;
    }
    .newsletter-form input {
        margin-bottom: 15px;
    }
    .header-area.header-area2 {
        position: relative;
        top: 0;
    }
    .slider-area2 .slider-content {
        padding-top: 0px;
    }
    .slider-area2 .slider-content p {
        padding: 0px 0;
    }
    .slider-active2 .owl-dots {
        right: 10px;
    }
    .slider-active2 .owl-nav div {
        right: 7px;
    }
    .slider-area2 .slider-content span.cdown span {
        font-size: 30px;
        line-height: 35px;
    }
    .slider-area2 .slider-content span.cdown p {
        font-size: 14px;
    }
    .slider-area2 .slider-items {
        height: 620px;
    }
    .header-wrapper {
        padding: 25px 0px;
    }
    .breadcumb-wrap h2 {
        line-height: 50px;
        font-size: 50px;
    }
    .breadcumb-wrap {
        padding-top: 95px;
    }
    .copyright {
        text-align: center;
        margin-bottom: 10px;
    }
    ul.social-icon.justify-content-end.d-flex {
        justify-content: center !important;
    }
    .scrolldown {
        left: 5px;
    }
    .contact-form {
        margin-bottom: 50px;
    }
    .about-area2 {
        padding: 120px 0px;
    }
    .about-img2 {
        margin-bottom: 50px;
        text-align: center;
    }
    .about-wrap2 h2 span.text {
        font-size: 50px;
    }
    .about-wrap2 h2 {
        font-size: 30px;
        line-height: 30px;
        padding-left: 80px;
    }
    .sidebar-wrap {
        margin-top: 50px;
    }
    .schedule-menu {
        margin-bottom: 35px;
    }
    .schedule-wrap {
        overflow-x: scroll;
    }
    .table-responsive table {
        width: 600px;
    }

}



@media (min-width: 576px) and (max-width: 767.98px) {
    .speaker-content p {
        display: none;
    }
}




/* small mobile :480px. */

@media (min-width: 480px) and (max-width: 575.98px) {
    .container {
        width: 450px;
    }
}