<!-- Base layout -->
{{ template "component.base.html" . }}

<!-- Extra head content -->
{{ define "head" }}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha256-O4WK/g+HUIRMtgNwSRMA+lTFXVCZOSNwqMt2jboE8gg="
  crossorigin="anonymous"
/>
{{ end }}

<!-- Body content -->
{{ define "content" }}
<nav
  class="navbar position-absolute w-100 navbar-expand-lg navbar-dark border-bottom border-white bg-dark"
  style="z-index: 10000"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        src="/assets/images/logo.png"
        alt="Logo Tuinfeest"
        width="56"
        height="56"
        class="d-inline-block align-text-top"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav text-uppercase fw-bold">
        <a class="nav-link" href="#tf-about">Over tuinfeest</a>
        <a class="nav-link" href="#tf-timetable">Time table</a>
        <a class="nav-link" href="#tf-artists">Artiesten</a>
        <a class="nav-link" href="#tf-partners">Sponsors</a>
        <a class="nav-link" href="#tf-map">Waar?</a>
        <a class="nav-link" href="/huisreglement">Huisreglement</a>
      </div>
    </div>
  </div>
</nav>

<!-- Carousel -->
{{ template "index.component.carousel.html" . }}

<!-- About -->
{{ template "index.component.about.html" . }}

<!-- Time table -->
{{ template "index.component.timetable.html" . }}

<!-- Artists -->
{{ template "index.component.artists.html" . }}

<!-- Sponsors -->
{{ template "index.component.sponsors.html" . }}

<!-- Info -->
{{ template "index.component.info.html" . }}

<!-- Map -->
<div id="tf-map" height="550" style="height: 550px; width: 100%"></div>
{{ end }}

<!-- End of body content -->
{{ define "body_end" }}
<script
  src="https://cdn.jsdelivr.net/npm/leaflet@1.8.0/dist/leaflet.js"
  integrity="sha256-OnFzHtqrwoenz6OjU3Z4SPDkER5Ih/vqRUvS5doFcZo="
  crossorigin="anonymous"
></script>
<script src="assets/js/clock.js" defer></script>
<script src="assets/js/map.js" defer></script>
{{ end }}
