<div
  class="carousel slide"
  data-bs-ride="carousel"
  data-bs-pause="false"
  data-bs-touch="false"
  data-bs-keyboard="false"
  data-bs-interval="4000"
>
  <div class="carousel-inner">
    {{ range $index, $img := .CarouselImages.main }}
    <div class="carousel-item {{ if (eq $index 0) }}active{{ end }}">
      <img
        src="{{ $img }}"
        class="d-block w-100 vh-100"
        alt="Foto van een vorige Tuinfeest editie"
      />
    </div>
    {{ end }}
    <div
      class="carousel-caption d-flex flex-column justify-content-center"
    >
      <h1>Tuinfeest 2022</h1>
      <p class="carousel-dates">
        Zaterdag {{ .General.SaturdayStart.Format "02" }} en zondag {{
        .General.SundayStart.Format "02" }} Juni {{
        .General.SaturdayStart.Format "2006" }}
      </p>
      <div class="container">
        <div
          id="carousel-clock"
          data-date="{{ .General.SaturdayStart.Format "2006-01-02T15:04:05.999Z07:00" }}"
          class="justify-content-center d-none d-md-flex justify-content-evenly"
        >
          <div class="d-flex flex-column">
            <p id="carousel-clock-days" class="carousel-clock-value">0</p>
            <p class="carousel-clock-legend">DAGEN</p>
          </div>
          <div class="d-flex flex-column">
            <p id="carousel-clock-hours" class="carousel-clock-value">0</p>
            <p class="carousel-clock-legend">UREN</p>
          </div>
          <div class="d-flex flex-column">
            <p id="carousel-clock-minutes" class="carousel-clock-value">0</p>
            <p class="carousel-clock-legend">MINUTEN</p>
          </div>
          <div class="d-flex flex-column">
            <p id="carousel-clock-seconds" class="carousel-clock-value">0</p>
            <p class="carousel-clock-legend">SECONDEN</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
