<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="referrer" content="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css"
      integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.2/font/bootstrap-icons.min.css"
      integrity="sha512-D1liES3uvDpPrgk7vXR/hR/sukGn7EtDWEyvpdLsyalQYq6v6YUsTUJmku7B4rcuQ21rf0UTksw2i/2Pdjbd3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="/assets/css/style.css" rel="stylesheet" />
    <title>Tuinfeest Beerse</title>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/assets/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/assets/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/assets/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/assets/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/assets/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/assets/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/assets/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/assets/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/assets/favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/assets/favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="/assets/favicon/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />

    <!-- Extra head content -->
    {{ block "head_end" . }}{{ end }}
  </head>
  <body>
    {{ block "content" . }}{{ end }}


    <!-- Footer -->
    <footer style="background-color: #252525" class="py-5">
      <div class="container">
        <div class="d-flex flex-column flex-md-row align-items-center">
          <div>
            <p class="d-flex flex-wrap justify-content-evenly mb-0">
              {{ range $.Data.General.Links }}
                <a
                  class="btn btn-light rounded-pill m-2"
                  href="{{ .Link }}"
                  title="{{ .Title }}"
                >
                  <i class="bi bi-{{ .Icon }}"></i>
                </a>
              {{ end }}
            </p>
          </div>
          <div class="order-md-first flex-md-grow-1 m-3">
            <p>
              <a href="/huisreglement">Huisreglement</a>
            </p>
            <div class="copyright">
              <p class="text-white mb-0">
                &copy;
                <a href="https://jensw.be" target="_blank">Jensw.be</a>
                {{ now.Year }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script>
      // Based on https://stackoverflow.com/a/75065536
      // Set theme to the user's preferred color scheme
      function updateTheme() {
        const colorMode = window.matchMedia("(prefers-color-scheme: dark)")
          .matches
          ? "dark"
          : "light";
        document.querySelector("html").setAttribute("data-bs-theme", colorMode);
      }

      // Set theme on load
      updateTheme();

      // Update theme when the preferred scheme changes
      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", updateTheme);
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"
      integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script
      data-goatcounter="https://stats.tuinfeestbeerse.be/count"
      async
      defer
      src="https://stats.tuinfeestbeerse.be/count.js"
    ></script>

    <!-- Extra body content -->
    {{ block "body_end" . }}{{ end }}
  </body>
</html>
