@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/Futura/Futura 900 Heavy.ttf');
}

html, body {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  text-align: center;
  vertical-align: center;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/beersbegot/beersbegot.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  font-family: Futura;
  color: white;
  text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
}

@media (min-width: 250px) {
  h1 {
    font-size: 40px;
  }
}

@media (min-width: 330px) {
  h1 {
    font-size: 50px;
  }
}

@media (min-width: 680px) {
  h1 {
    font-size: 100px;
  }
}

#credits {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  margin: 10px;
  color: white;
  background-color: #000000aa;
  font-size: 0.8em;
}

#credits a {
  color: white;
}

#credits a:hover {
  color: purple;
}
