{{ $data := $.Site.Data.Timetable }}

<div id="tf-timetable" class="tf-section tf-section-bluegrey container-fluid">
    <div class="container">
      <h2 class="text-center">Time table</h2>
      <p class="text-center">
        Je kan genieten van volgende artiesten op zaterdag
      </p>
      <div class="row gx-0 text-center fw-bold d-md-none">
        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col">Podium</th>
              <th scope="col">Start</th>
              <th scope="col">Einde</th>
              <th scope="col">Artiest</th>
            </tr>
          </thead>
          <tbody>
            {{ range $il, $loc := $data.Locations }}
            <!-- Shows start -->
            {{ range $is, $show := $loc.Shows }}
            <tr>
              {{ if eq $is 0 }}
              <th scope="row" rowspan="{{ len $loc.Shows }}">{{ $loc.Name }}</th>
              {{ end }}
              <td>{{ $show.Start }}</td>
              <td>{{ $show.End }}</td>
              <td>{{ $show.Name }}</td>
            </tr>
            {{ end }}
            <!-- Shows end -->
            {{ end }}
          </tbody>
        </table>
      </div>
      <div class="row gx-0 text-center fw-bold d-none d-md-flex">
        <div class="offset-1 col-1 px-0">
          <p class="timetable-header">
            <i class="bi bi-clock"></i>
          </p>
          {{ range $data.Slots }}
          <p
            class="timetable-slot"
            style="height: {{ $data.SlotHeightPixels }}px; line-height: {{ $data.SlotHeightPixels }}px"
          >
            {{ . }}
          </p>
          {{ end }}
        </div>
        {{ range $data.Locations }}
        <div class="col-3">
          <p class="timetable-header">{{ .Name }}</p>
          <div class="position-relative">
            {{ range .Shows }}
            <div
              class="timetable-show position-absolute rounded-3 d-flex flex-column justify-content-center"
              style="top: {{ .StartPixels }}px; height: {{ .HeightPixels }}px;"
            >
              <p class="my-0">{{ .Name }}</p>
              <p class="fw-normal my-0">
                {{ .Start }} - {{ .End }}
              </p>
            </div>
            {{ end }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  